@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

// colors
$main-color: #ff8420;
$text-color: #adbece;
$header-color: #292e3a;
$background-color: #2b303d;
$item-background-color: #23252d;


// fonts
$raleway-font: 'Raleway', sans-serif;
