@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

$header-height: 80px;

// colors
$main-color: #ff8420;
$text-color: #ced5dc;
$header-color: #292e3a;
$background-color: #272a33;
$item-background-color: #303540;


// fonts
$raleway-font: 'Raleway', sans-serif;
